body{
    font-family: 'TT Lakes', sans-serif;
    width: 320px;
    margin: 0;
    box-shadow: 1px 0 50px 0 #454545;
    height: 100%;
}
@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.ttf") format("truetype");
    font-style: normal;
    font-size: 14px;

}
.header-menu{
    width: 320px;
}
.header-menu__navigation{
    position: relative;
    display: flex;
    margin: 0 0 0 0;
    height: auto;
}

.icon-burger{
    height: 40px;
    margin: 24px 0 0 24px;
}
.icon-group{
    height: 40px;
    margin: 24px 0 0 16px;
}
.icon-search{
    height: 40px;
    margin: 24px 0 0 79px;
}
.icon-burger_img{
    height: 40px;
}
.icon-group_img{
    height: 51px;
}
.icon-search_img{
    height: 40px;
}
.main{
    margin: 50px 0 0 0 ;
    position: relative;
}
.main__list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 416px;
    margin: 0 0 270px 24px;
    padding: 0;

}
.main__list_link{
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.main__text-link {
    padding: 6px 0 0 0;
}
.main__list_number{
    list-style-type: none;
    height: 32px;
}
/*не знаю как сделать без вложенности*/
.main__list .main__list_link:hover{
    color: #7E7E82;
}
.main__list .active_context .main__list_link {
    color: #7E7E82;
}
/*не знаю как сделать без вложенности*/
.active_context::before{
    content: url("image/highlight_menu.png");
    display: block;
    height: 32px;
    position: absolute;
    margin: 0 0 20px -24px;
}
.footer__icon{
    display: flex;
    position: relative;
    margin: 0 0 0 24px;
}
.footer-menu__icon{
    margin: 0 16px 0 0;
}
.footer__mail{
    margin: 0 0 0 24px;
}
.footer__number{
    margin: 12px 0 40px 24px;
}
.footer__number_numbers{
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}
.language__list{
    display: flex;
    padding: 0;
    margin: 0 0 32px 24px;
}
.language__list_number{
    list-style-type: none;
    margin: 0 7px 32px 0;

}
.language__list_list{
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    text-decoration: none;
    color: black;

}
/*не знаю как сделать без вложенности*/
.language__list .language__list_list:hover{
    color: #7E7E82;
}
.language__list .active_language .language__list_list {
    color: #7E7E82;
}
/*не знаю как сделать без вложенности*/